/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #333333;
   font-family: serif;
}

#testoAlternato {
   border: 2px solid #666666;
   padding: 1em;
   font-size: 3em;
}

#testoAlternato p {
   display: inline-flex;
   position: relative;
   width: 20em;
}

.parole {
   /* color: rgb(109, 137, 155); */
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 11em;
   /* top: 2em; */
   animation: textAnimation 3s ease-in-out 0s infinite;
   transition: color 3sec ease-in-out;
}

.parole i:nth-of-type(1) {
   animation: text1 3s ease-in-out 0s infinite;
}
.parole i:nth-of-type(2) {
   animation: text2 3s ease-in-out 0s infinite;
}
.parole i:nth-of-type(3) {
   animation: text3 3s ease-in-out 0s infinite;
}

@keyframes text3 {
   0% {
      color: rgba(109, 137, 155, 0);
   }
   14% {
      color: rgba(109, 137, 155, 0);
   }
   28% {
      color: rgba(109, 137, 155, 0);
   }
   42% {
      color: rgba(109, 137, 155, 0);
   }
   56% {
      color: rgba(109, 137, 155, 0);
   }
   70% {
      color: rgb(109, 137, 155);
   }
   84% {
      color: rgb(109, 137, 155);
   }
   100% {
      color: rgba(109, 137, 155, 0);
   }
}
@keyframes text2 {
   0% {
      color: rgba(109, 137, 155, 0);
   }
   14% {
      color: rgba(109, 137, 155, 0);
   }
   28% {
      color: rgba(109, 137, 155, 0);
   }
   42% {
      color: rgb(109, 137, 155);
   }
   56% {
      color: rgb(109, 137, 155);
   }
   70% {
      color: rgba(109, 137, 155, 0);
   }
   84% {
      color: rgba(109, 137, 155, 0);
   }
   100% {
      color: rgba(109, 137, 155, 0);
   }
}
@keyframes text1 {
   0% {
      color: rgba(109, 137, 155, 0);
   }
   14% {
      color: rgb(109, 137, 155);
   }
   28% {
      color: rgb(109, 137, 155);
   }
   42% {
      color: rgba(109, 137, 155, 0);
   }
   56% {
      color: rgba(109, 137, 155, 0);
   }
   70% {
      color: rgba(109, 137, 155, 0);
   }
   84% {
      color: rgba(109, 137, 155, 0);
   }
   100% {
      color: rgba(109, 137, 155, 0);
   }
}
@keyframes textAnimation {
   /* 0% {
      top: 2em;
   }
   33% {
      top: 1em;
   }
   100% {
      top: 0;
   } */

   0% {
      top: 3em;
   }
   14% {
      top: 2em;
   }
   28% {
      top: 2em;
   }
   42% {
      top: 1em;
   }
   56% {
      top: 1em;
   }
   70% {
      top: 0;
   }
   84% {
      top: 0;
   }
   100% {
      top: -1em;
   }

   /* remove one more to solve the latency */
}
